.main-container {
    /*height: auto => take as much space as you need */
    height: auto;
    width: 370px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  
  .title-div {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
  
  .score {
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
  }
  
  .buttons {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .start-button,
  .rock-button,
  .paper-button,
  .scissors-button {
    height: 40px;
    width: 90px;
  }
  
  .game-log {
    display: flex;
    align-items: center;
    height: 45px;
    min-height: 45px;
    padding-left: 6px;
    border-bottom: 1px solid palevioletred;
  }
  
  .select {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
  }
  
  .winner-message {
      color: rgb(60, 191, 45);
      font-size: 20px;
  }