.button-div {
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 20px;
}

.result {
    height: 100px;
    margin-top: 20px;
    background-color: pink;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: flex;
    font-weight: bold;
}

button {
    padding: 20px 40px;
    background-color: greenyellow;
    border: 3px solid black;
    font-weight: bold;
}